* {
  box-sizing: border-box;
  font-family: 'Heebo', Courier, monospace;
}
/* Sizing will have to be adjusted and media queriers are needed */

/*todos page */
#info-top {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  max-width: 100%;
}

header {
  font-size: 30px;
  font-weight: 200;
  margin-top: 35px;
  margin-left: 30px;
  text-shadow: 0 5px 5px rgb(0 0 0 / 0.4);
}

.card {
  background: #f5d6cb;
  border-radius: 5px;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  /* border: 1px solid green; */
  width: 25%;
  text-align: center;
  font-size: 14px;
  font-weight: 100;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-bottom: 30px;
  margin-right: 60px;
}

.card > img {
  width: 100px;
  height: 100px;
  background-color: transparent;
}

.card > h2 {
  font-size: 18px;
  font-weight: 100;
  background-color: transparent;
}

.card > a {
  color: black;
  background-color: transparent;
}

.completed {
  text-decoration: line-through;
  color: gray;
}
.not {
  text-decoration: underline;
}

form {
  font-size: 14px;
  text-align: center;
  width: 100%; /* will have to adjust and use media queriers */
  height: 175px;
  background-color: rgb(168, 212, 183);
  border-radius: 15px;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.3);
}

form > span > #inputtodo {
  border: 1px solid purple;
  background-color: rgb(168, 212, 183);
  border-radius: 5px;
}

#descriptiontodo {
  border: 1px solid purple;
  font-weight: 200;
  border-radius: 5px;
  background-color: rgb(168, 212, 183);
}

#form {
  display: none;
}

span > label {
  border: 1px solid hotpink;
  font-weight: 200;
  background-color: rgb(168, 212, 183);
}

span + input {
  border: 0px;
  padding: 5px 20px;
  text-decoration: none;
  color: black;
  background-color: rgb(241, 250, 173);
  border-radius: 20px;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.3);
}
#kanban-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.kanbancolumn {
  float: left;
  clear: right;
  width: 25%; /* will have to adjust and use media queriers */
  height: 900px;
  text-align: center;
  background-color: #2A92BF;
  margin-left: 20px;
  border-radius: 20px;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.7);
}

.kanbantitle {
  font-size: 20px;
  font-weight: 200;
  padding: 15px 0px;
  background-color: rgb(255, 137, 137);
  margin-bottom: 20px;
  border-radius: 20px;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.3);
  text-shadow: 0 5px 5px rgb(0 0 0 / 0.4);
  width: 100%;
}

section + button {
  border: 2px solid rgb(241, 250, 173);
  font-weight: 200;
  padding: 5px 20px;
  text-decoration: none;
  color: black;
  background-color: rgb(241, 250, 173);
  border-radius: 20px;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.3);
}

/* made changes on kanbannote-todo */

.kanbannote-todo {
  display: flex;
  flex-flow: column nowrap;
  border-radius: 5px;
  width: 100%; /* may have to adjust and use media queriers ?*/
  /* height: 150px; */
  background: #889c79;
  color: black;
  align-items: center;
  margin-bottom: 15px;
  padding: 3px;
  cursor: pointer;  
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.3);
  font-weight: 300;
}
#task-title {
  font-weight: bold;
  text-transform: uppercase;
  padding: 0px 10px;
  background-color: #889c79;
  
}

ul > li {
  border: solid 2px rgb(255, 0, 166);
  display: flex;
  flex-flow: column nowrap;
  height: 150px;
}


/* #task-description {
  display: none;
} */

.del {
  display: none;
  background: #d1e8c1;
  border-radius: 5px;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  padding: 2px;
  cursor: pointer;
}
section {
  display: block;
}

li {
  text-decoration: none;
  list-style: none;
}

/*item below might be repeative with .kanbannote-todo being called above*/
/* .todoItem {
  height: 150px;
} */

/*index page*/
/*need ideas*/

.indexbody {
  box-shadow: 0 50px 50px rgb(0 0 0 / 0.9);
  text-shadow: 0 5px 5px rgb(0 0 0 / 0.4);
  height: 250px;
  width: 500px;
  margin: 400px 150px;
  text-align: center;
  border-radius: 15px;
  color: black;
  padding-top: 20px;
  background: linear-gradient(to top,#a4a4a4,#90caf9);
}

.indexbig {
  background-color: transparent;
  font-size: 30px;  
  font-weight: 200;
}

.indexsmall {
  background-color: transparent;
  font-size: 15px;
  font-weight: 100;
  text-decoration: none;
  float: left;
  clear: both;
  padding: 15px 225px;
  color: black;
  font-style: italic;

}


/*login page*/

.loginform {
  position: absolute;
  padding: 5px 20px;
  text-decoration: none;
  color: black;
  height: 450px;
  width: 450px;
  margin: 280px 170px; /* adjust and add media queriers*/
  padding: 120px 130px;
  background: linear-gradient(to top,#8f8f8f,#d1c4e9);
  box-shadow: 0 50px 50px rgb(0 0 0 / 0.9);
}

.loginform > h2 {
  font-size: 18px;
  font-weight: lighter;
  background-color: transparent;
}

form > .logininput { /*something is overridng the background color*/
  float: left;
  clear: both;
  padding: 10px 25px;
  border: 1px solid black;
  background-color: transparent;
  text-align: center;
}

input {
  padding: 5px 15px;
  font-weight: 200;
  background-color: transparent;
  margin: 15px 0px;
}

/*sign up*/

.signupform {
  position: absolute;
  padding: 5px 20px;
  text-decoration: none;
  color: black;
  height: 500px;
  width: 500px;
  padding: 75px 150px;
  margin: 250px 150px; 
  background: linear-gradient(to top,#ffeeee,#c8e6c9);
  box-shadow: 0 50px 50px rgb(0 0 0 / 0.9);
}

.signupform > h2 {
  font-size: 18px;
  font-weight: lighter;
  background-color: transparent;
}

form > .signupinput {
  float: left;
  clear: both;
  padding: 10px 25px;
  background-color: transparent;
  border: 1px solid black;
  text-align: center;
}

input {
  padding: 5px 15px;
  margin: 15px 0px;
  background-color: transparent;
  border: 1px solid black
}
